:root {
    ---main-color: #E9E3DF;
    ---second-color: #1230AE;
    ---third-color: #FF7A30;
    ---fourth-color: #169976;
}
.container {
    margin: 0 3px;
}
/* Start Header */
header {
    background-color: var(---main-color);
}
header .logo  .basha-black {
    color: black;
}
header .link .link-bar {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    direction: rtl;
}
header .link .link-bar span {
    width: 35px;
    height: 6px;
    background-color: var(---second-color);
    margin: 2px 0;
}
header .link .link-bar .mid-bar {
    width: 17.5px;
    transition-duration: 0.5s;
}
header .link ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    right: 2%;
    width: 250px;
    background-color: var(---fourth-color);
}
header .link ul li {
    width: 100%;
    padding: 10px 0px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent transparent #E9E3DF transparent ;
}
header .link .link-list {
    display: none;
}
header .link:hover .mid-bar {
    width: 35px;
}
header .link:hover .link-list {
    display: block;
}
/* End Header */
.container-thing .main-product {
    grid-template-columns: repeat(4 , auto);
}
.container-thing .main-product .cards-of-product {
    width: calc((674px / 3) - 10px);
    height: auto;
}
.container-thing .main-product .cards-of-product img {
    width: calc(630px / 3);
    height: calc(630px / 3);
}
.container-thing .main-product .cards-of-product .text .product-money {
    flex-direction: column;
}