.container-thing .main-product {
    display: grid;
    grid-template-columns: repeat(2 , auto);
}
.container-thing .main-product .cards-of-product {
    width: 170px;
}
.container-thing .main-product .cards-of-product img {
    width: 165px;
    height: 165px;
}